@import url('https://fonts.googleapis.com/css?family=Dosis');

page-garanzia {

    $primary-color: rgb(230, 0, 0);
    $text-color: white;

    .button{
        background-color: rgb(230, 0, 0) !important;
    }

    #prezzo{
        span{
            float: right;
        }
    }
    

}