@import url('https://fonts.googleapis.com/css?family=Dosis');

$primary-color: rgb(230, 0, 0);
    $text-color: white;

page-contraente {
    
    
    #header{
      
          //HEADER
    
          background-color: $primary-color;

          h1{
              font-family: 'Dosis', sans-serif;
              font-size: 45px;
              color:$text-color;
          }

    #pi{
        font-weight: bold;
        font-style: italic;
        font-size: 65px;
    }

    }

    #title{
        white-space: normal;
    }
    

    .button{
        background-color: rgb(230, 0, 0) !important;
    }

   // FOOTER

   ion-footer{
    color:$text-color;
}

    .toolbar-background{
        background-color: $primary-color;
    }

    #breadcrumb{

       
        .attuale{
            background-color: $primary-color;
            color:$text-color;
            border-width: 5px;
        }

        .grid{
            padding:0px;
            border-style: groove;
            border-width: 0.5px;

        }
    }

}
