<ion-header>
    <header> </header>
  


</ion-header>
<ion-content >

<breadcrumb [pagina]="'seconda'"> </breadcrumb>

    <!--div id="breadcrumb">

        <ion-grid align="center">
            <ion-row>
                <ion-col (click)="pagInizio()">
                    <b>Dati veicolo</b>
                </ion-col>
                <ion-col class="attuale">
                    <b>Dati cliente</b> 
                </ion-col>
                <ion-col (click)="navigateToGaranzia()" >
                    <b>Garanzie </b>
                </ion-col>
                <ion-col>
                    <b>Riepilogo</b>
                </ion-col>
              </ion-row>
        </ion-grid>
      </div-->
    

  <div id="title" padding>

    <h2>Dati personali</h2>

  </div>

  <div id="form" [formGroup]="form">
 

      <ion-item>
        <ion-label  >Nome</ion-label>
        <ion-input type="text" [(ngModel)]="contraente.nome" (change)="validaForm()" formControlName="nome"></ion-input>
      </ion-item>
      <span *ngIf="!form.controls.nome.valid && form.controls.nome.dirty" class="danger" padding>Nome is not valid.</span>

      <ion-item>
        <ion-label >Cognome</ion-label>
        <ion-input type="text"  [(ngModel)]="contraente.cognome"(change)="validaForm()" formControlName="cognome"></ion-input>
      </ion-item>
      <span *ngIf="!form.controls.cognome.valid && form.controls.cognome.dirty" class="danger" padding>Cognome is not valid.</span>
      <ion-item>
        <ion-label >Data di nascita</ion-label>
       
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="contraente.dataNascita" (change)="validaForm()"  formControlName="dataN"></ion-datetime> 
      </ion-item>
      <span *ngIf="!form.controls.dataN.valid && form.controls.dataN.dirty" class="danger" padding>Data di Nascita is not valid.</span>
      <ion-item>
          <ion-label >Luogo di nascita</ion-label>
          <ion-input type="text"  [(ngModel)]="contraente.luogoNascita"(change)="validaForm()" formControlName="luogoN"></ion-input>
        </ion-item>
        <span *ngIf="!form.controls.luogoN.valid && form.controls.luogoN.dirty" class="danger" padding>Luogo di Nascita is not valid.</span>
  
        <ion-item>
          <ion-label >Anni possesso patente</ion-label>
          <ion-input type="number" [(ngModel)]="contraente.anniPatente" (change)="validaForm()" formControlName="anniPat"></ion-input>
        </ion-item>
        <span *ngIf="!form.controls.anniPat.valid && form.controls.anniPat.dirty" class="danger" padding>Anni possesso patente is not valid.</span>
      

  </div>
  <div  align=center padding>
        <button ion-button block [disabled]="disabilitato" (click)="navigateToGaranzia()">
      Prosegui &nbsp;
      <ion-icon name='arrow-forward'></ion-icon>
    </button>
  </div>

</ion-content>
<footer></footer>
