@import url('https://fonts.googleapis.com/css?family=Dosis');

$primary-color: rgb(230, 0, 0);
    $text-color: white;

page-contraente {

    #title{
        white-space: normal;
    }
    

    .button{
        background-color: rgb(230, 0, 0) !important;
    }

.datetime-text{
    padding-right:113px;  
}
   // FOOTER

    .toolbar-background{
        background-color: $primary-color;
    }

    .danger{
        color:$primary-color !important;
    }

}
