<!-- Generated template for the BreadcrumbComponent component -->
<div id="breadcrumb">

    <ion-grid align="center">
        <ion-row >
            <ion-col (click)="pagInizio()">
                <b>Dati veicolo</b>
            </ion-col>
            <ion-col (click)="navigateToPersona()">
                <b>Dati cliente</b> 
            </ion-col>
            <ion-col (click)="navigateToGaranzia()">
                <b>Garanzie</b>
            </ion-col>
            <ion-col (click)="navigateToRiepilogo()">
                <b>Riepilogo</b>
            </ion-col>
          </ion-row>
    </ion-grid>
  </div>
