page-home{

    #header{

        img{
            width: 500px;
        }

    }

    #title{
        white-space: normal;
    }
    

    .button{
        background-color: rgb(230, 0, 0) !important;
    }

    ion-col{
        text-align: center;
    }


}
