@import url('https://fonts.googleapis.com/css?family=Dosis');

$primary-color: rgb(230, 0, 0);
$text-color: white;


page-home{

    #title{
        white-space: normal;
    }


    .button{
        background-color: $primary-color !important;
    }


    ion-col{
        text-align: center;
    }

    
    .danger{
        color:$primary-color !important;
      }
    


}
