@import url('https://fonts.googleapis.com/css?family=Dosis');

$primary-color: rgb(230, 0, 0) !important;
$text-color: white;

page-home{

    #header{

    background-color: $primary-color;

    h1{
        font-family: 'Dosis', sans-serif;
        font-size: 45px;
        color:$text-color;
    }

    #pi{
        font-weight: bold;
        font-style: italic;
        font-size: 65px;
    }

    }

    #title{
        white-space: normal;
    }
    
    //

    .button{
        background-color: $primary-color;
    }

    

    ion-col{
        text-align: center;
    }


    // FOOTER

    ion-footer{
        color:$text-color;
    }

        .toolbar-background{
            background-color: $primary-color;
        }



}
