@import url('https://fonts.googleapis.com/css?family=Dosis');

$primary-color: rgb(230, 0, 0);
$text-color: white;

page-riepilogo {

        
    #header{

        background-color: $primary-color;
    
        h1{
            font-family: 'Dosis', sans-serif;
            font-size: 45px;
            color:$text-color;
        }
    
        #pi{
            font-weight: bold;
            font-style: italic;
            font-size: 65px;
        }
    
        }
    
        
    
        #title{
            white-space: normal;
        }
        
    
        button{
            background-color: $primary-color;
        }

        #header{

            background-color: $primary-color;
        
            h1{
                font-family: 'Dosis', sans-serif;
                font-size: 45px;
                color:$text-color;
            }
        
            #pi{
                font-weight: bold;
                font-style: italic;
                font-size: 65px;
            }
        
            }

            ion-footer{
                color:$text-color;
            }
        
                .toolbar-background{
                    background-color: $primary-color;
                }

                #breadcrumb{

       
                    .attuale{
                        background-color: $primary-color;
                        color:$text-color;
                        border-width: 5px;
                    }
            
                    .grid{
                        padding:0px;
                        border-style: groove;
                        border-width: 0.5px;
            
                    }
                }
            
            
    
      
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
            
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        
        .dropdown-content  {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
       
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }

      
}
