<ion-header>
    <header> </header>
</ion-header>

<ion-content>
                <breadcrumb [pagina]="'quarta'" [breadAbilitata]=true [popPage]="true"> </breadcrumb>

    <br>
    <br>
    <div class="dropdown">
        <button ion-button id="dropbtn" >Veicolo ({{preventivo.veicolo.marca}} {{preventivo.veicolo.modello}})  &nbsp; <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon></button>
        <div class="dropdown-content">
           <a> <b> Marca:</b> &nbsp;&nbsp; {{preventivo.veicolo.marca}}</a>
            <br>
            <a> <b>Modello:</b>&nbsp;&nbsp; {{preventivo.veicolo.modello}}</a>
            <br>
            <a> <b>Allestimento:</b>&nbsp;&nbsp; {{preventivo.veicolo.allestimento}}</a>
            <br>
            <a> <b> Anno di Immatricolazione:</b>&nbsp;&nbsp; {{preventivo.veicolo.annoImm}}</a>
            <br>
            <a> <b> Cilindrata:</b> &nbsp;&nbsp;{{preventivo.veicolo.cilindrata}}</a>
            <br>
        </div>
    </div> <br><br><br>
    <div class="dropdown">
            <button ion-button id="dropbtn" >Contraente: ({{preventivo.persona.nome}} {{preventivo.persona.cognome}}) &nbsp;   <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon></button>
            <div class="dropdown-content">
               <a> <b> Nome:</b> {{preventivo.persona.nome}}<br></a>
                
                <a> <b>Cognome:</b> {{preventivo.persona.cognome}}</a>
                <br>
                <a>  <b> Data di nascita:</b> {{preventivo.persona.dataNascita}}</a>
                <br>
                <a><b> Luogo di nascita:</b> {{preventivo.persona.luogoNascita}}</a>
                <br>
                <a> <b> Anni di possesso della patente:</b> {{preventivo.persona.anniPatente}}</a>
                <br>
            </div>
        </div><br><br><br>

    <div>
        <ion-grid class="bordogrid">
            <ion-row id="rosso">
                <ion-col class="col">
            Garanzie
                </ion-col>
                <ion-col>
                       Premio
                    </ion-col>
                    <ion-col>
                           Iva
                        </ion-col>
            </ion-row>
            <ion-row *ngFor="let item of preventivo.garanzie">
                    <ion-col style="text-align:left">
                     {{item.nome}}  
  
                    </ion-col>
                    <ion-col >
                             {{item.prezzo | number:'3.1-2'}}&euro;
                        </ion-col>
                        <ion-col>
                                
                        </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col style="text-align:left">
                             <b>TOT   </b>
                        </ion-col>
                        <ion-col>
                              <B> {{preventivo.prezzo}} &euro;</B>
                        </ion-col>
                        <ion-col >
                        <B>{{preventivo.iva}}&euro;</B>
                        </ion-col>
                    </ion-row>
                    <ion-row class="totale">
                            <ion-col col-4>
                               <h6 style="text-align:left">TOTALE    </h6>  
                            </ion-col>
                            <ion-col col-8 >
                                   <h6> {{preventivo.prezzo+preventivo.iva}} &euro;</h6>
                            </ion-col>                          
                        
                    </ion-row>
        </ion-grid>
</div>
<div  *ngIf="!codiceArrivato()" id="salva-btn">
<button  ion-button (click)="salvaDati()" text-center>    Salva   </button>
</div>
<div *ngIf="codiceArrivato()">
    il salvataggio è avvenuto con successo con il codice: {{id}}
</div>
</ion-content>

<footer></footer>